<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-center">
    <div class="container-fluid " >
        <button class="navbar-brand btn btn-outline-success " href="#" (click)="home()">HOME</button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">

                    <button class="nav-link  btn btn-outline-success " aria-current="page" href="#" (click)="team()">TEAM</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-outline-success" href="#" (click)="about()" >ABOUT US</button>
                </li>

                <li class="nav-item">
                    <button class="nav-link btn btn-outline-success" href="#" (click)="contact()">CONTACT US</button>
                </li>

                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle btn btn-outline-success" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        SERVICES
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">GST</a></li>
                        <li><a class="dropdown-item" href="#">INCOM TAX</a></li>

                    </ul>
                </li>

            </ul>

            <a class="navbar-brand m-2 p-2" style=" font-family: 'Brush Script MT', cursive; font-size:1.5em;" href="#"> MSN CA  Office</a>

        </div>
    </div>
</nav>
