<div class=" container-fluid footer">
<H1 class="text-secondary">MSN CA Office</H1>

        <a class="p-4 text-white"  routerLink="#" (click)="home()">home</a>
        <a class="p-4 text-white"  routerLink="#" (click)="team()">Team</a>
        <a class="p-4 text-white"   routerLink="#" (click)="about()"> About Us</a>
        <a class="p-4 text-white" routerLink="#" (click)="contact()">Contact Us</a>
        <a class="p-4 text-white"    routerLink="#">services</a>
       
<div class="container-fluid subfooter mt-3">
<p>© Copyright Chartered Accountants. All Rights Reserved</p>
</div>

</div>