.footer{
    position: relative;
 background-color: rgb(228, 48, 8);
color: white;
    text-align: center;
  .subfooter{
    position: relative;
    background-color: black;
    color: white;
    text-align: center;
  }
}