
<div class="container-fluid teamdiv">
    <img class="imgdiv" src="assets/images/team.jpg" alt=" image not available">
    <div class="container subdiv">
        <h1 style="color:rgb(234, 54, 54)">MSN CA Office</h1><br>
        <h4 style="color:rgb(242, 108, 108)" >Welcome to Our Office. We have best experienced team and friendly nature   <br> 
            click the below “Contact us” button and provide <br> basic information about Your Form
           </h4>

        <button class="btn btn-primary" (click)="contact()" > Contact us</button>
        <a href="#"><i class="fa fa-whatsapp" style="margin:10px;padding:10px;font-size:36px"></i></a>

    </div>

   





<div class="container-fluid justify-content-center ">
    <h1 class="p-4" style="text-align: center;">TEAM</h1>
    <h2 class="p-4" style="text-align: center;">CA M Satyanarayana & Associates</h2>
    <div class="row p-4">
        <div class="col text-center">
            <img src="assets/images/msn.png" alt=" image not available">
        </div>
        <div class="col text-center">
            <h3>Name : Madala Satyanarayana</h3>
            <h3>Designation : Chartered Accountant</h3>
            <h3> Qualificatin : CA </h3>
            <h3> Experience : 35 Years</h3>
        </div>
    </div>

    <div class="row p-4">
        <div class="col text-center">
            <img style="width: 180px;height: 200px;" src="assets/images/sudha.png" alt=" image not available">
        </div>
        <div class="col text-center">
            <h3>Name : Madala Sudha Ramya</h3>
            <h3>Designation : Chartered Accountant</h3>
            <h3> Qualificatin : CA </h3>
            <h3> Experience : 7 Years</h3>
        </div>
    </div>
    <div class="row p-4">
        <div class="col text-center">
            <img style="width: 180px;height: 200px;" src="assets/images/vasu.jpg" alt=" image not available">
        </div>
        <div class="col text-center">
            <h3>Name: Talluri Vasu babu</h3>
            <h3>Designation : Accountant </h3>
            <h3> Qualificatin : B.com </h3>
            <h3> Experience : 19 Years</h3>
        </div>
    </div>

    <div class="row p-4">
        <div class="col text-center">
            <img style="width: 180px;height: 200px;" src="assets/images/vasu.jpg" alt=" image not available">
        </div>
        <div class="col text-center">
            <h3>Name: Kuncha Naresh</h3>
            <h3>Designation :  Accountant </h3>
            <h3> Qualificatin : M.com </h3>
            <h3> Experience : 19 Years</h3>
        </div>
    </div>

    <div class="row p-4">
        <div class="col text-center">
            <img style="width: 180px;height: 200px;" src="assets/images/vasu.jpg" alt=" image not available">
        </div>
        <div class="col text-center">
            <h3>Name: Sunil</h3>
            <h3>Designation :  Accountant </h3>
            <h3> Qualificatin : M.com </h3>
            <h3> Experience : 6 Years</h3>
        </div>
    </div>

    <div class="row p-4">
        <div class="col text-center">
            <img style="width: 180px;height: 200px;" src="assets/images/vasu.jpg" alt=" image not available">
        </div>
        <div class="col text-center">
            <h3>Name: Shyam</h3>
            <h3>Designation :  Accountant </h3>
            <h3> Qualificatin : M.com </h3>
            <h3> Experience : 6 Years</h3>
        </div>
    </div>


</div>
