
<div class="container-fluid maindiv">
    <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
        <div class="carousel-inner subdiv">
            <div class="carousel-item active maindiv">
                <img src="assets/images/image1.jpg" class="d-block w-100 divimg" alt="...">
                <div class="container-fluid divv">
                    hellooooooooooooooooooooooooooooooooooooooooooooooooooo
                </div>
            </div>
            <div class="carousel-item maindiv">
                <img src="assets/images/image2.jpg" class="d-block w-100 divimg" alt="...">
                <div class="container-fluid divv">
                    hellooooooooooooooooooooooooooooooooooooooooooooooooooo
                </div>
            </div>
            <div class="carousel-item maindiv">
                <img src="assets/images/image3.jpg" class="d-block w-100  divimg" alt="...">
                <div class="container-fluid divv">
                    hellooooooooooooooooooooooooooooooooooooooooooooooooooo
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
   
</div>
<div class=" container text-center m-5">
    <h3 >Welcome to</h3>
    <h1 class="text-primary">Chartered Accountant</h1>
    <small></small>
    <hr>
    <p style="text-align: center; padding:40px" ><b>Chartered Accountant</b> is an eminent Chartered Accountant firm, registered under ICAI, managed by a team of professionals
    having a vintage of more than 2 decades of professional experience. The firm aims to provide end to end solutions to
    clients across all industries in financial sector. It caters a full bouquet of financial services which includes Audit &
    Assurance services, Accounting services, Taxation services, Legal services (Company related matters and other laws),
    Valuation services, Documentation services, Consultancy services and complete Business solutions ranging from the
    formation to its operations. The firm has a diverse portfolio of clients belonging to a varied range of sectors
    including Real Estate, Textile, FMCG, Leather, Manufacturing, Trading, Financial Sector, and also to Health
    Professionals, High Net worth Individuals (HNIs), NGOs.</p>
</div>

<div class="container-fluid justify-content-center text-center">

    <div class="container text-center m-5">
<h3><b>our</b></h3>
<h1 class="text-primary"> SERVICES</h1>
<p style="text-align: center; padding:40px">We understand that for any organization to be successful SERVICE is the key factor and hence we always strive hard to
provide our clients the best possible services at each and every stage of their business.</p>
    </div>
    <div class="row justify-content-center">
        <div class="col card"> 
            <img class="card-img-top imgcol" src="assets/images/card1.jpeg" alt="Card image cap">
            <div class="card-body">
<h2><b>corporate and international tax</b></h2>
<p>Due to the evolving nature of tax laws and constant amendments, the tax landscape</p>
            </div>
        </div>
        <div class="col card">
            <img class="card-img-top imgcol" src="assets/images/card2.jpg" alt="Card image cap">
            <div class="card-body">
                <h2><b>Transfer Pricing</b></h2>
                <p>Globalisation and the continued growth of international trade have made intercompany pricing</p>
            </div>
        </div>
        <div class="col card"> <img class="card-img-top imgcol" src="assets/images/card3.jpg" alt="Card image cap">
        <div class="card-body">
            <h2><b>Tax Dispute Resolution Services</b></h2>
            <p>The tax environment is increasingly complex making the management of tax risk, controversies</p>
        </div>
    </div>

    </div>

    <div class="row justify-content-center">
        <div class="col card"> 
            <img class="card-img-top imgcol" src="assets/images/card4.jpg" alt="Card image cap">
        <div class="card-body">
            <h2><b>Mergers & Acquisitions</b></h2>
            <p>Businesses constantly evolve to survive and thrive. Whether you are looking to expand</p>
        </div>
        </div>
        <div class="col card">

                <img class="card-img-top imgcol" src="assets/images/card5.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2><b>Regulatory & Corporate Secretarial</b></h2>
                    <p>Entities are bound by various regulatory laws and it is important that they comply with</p>
                </div>
        </div>
        <div class="col  card">
                <img class="card-img-top imgcol" src="assets/images/card6.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2><b>GST</b></h2>
                    <p>GST is a transaction tax that subsumes most of the legacy indirect taxes levies by</p>
                </div>
            
        </div>

    </div>

</div>
